/*
RELACIÓN 2 · EJERCICIO 3 · Secuencia de colores
Aplica una animación que cambie el color de las figuras en este orden: azul → verde → amarillo → rojo → azul.
La animación debe durar 4 s y repetirse infinitamente.
*/

:root { --lado: 140px; }
:root { --lado: 100px; }

.cuadrado {
  width: var(--lado);
  height: var(--lado);
  background: #1e90ff;
  display: block;
}

.circulo {
  width: var(--lado);
  height: var(--lado);
  border-radius: 50%;
  background: #1e90ff;
  display: block;
}

.triangulo {
  width: 0;
  height: 0;
  display: block;
  border-left: calc(var(--lado) / 2) solid transparent;
  border-right: calc(var(--lado) / 2) solid transparent;
  border-bottom: var(--lado) solid #1e90ff;
  background: transparent;
}

.rombo {
  width: var(--lado);
  height: var(--lado);
  background: #1e90ff;
  transform: rotate(45deg);
  transform-origin: center;
  display: block;
}

.rectangulo {
  width: 160px;
  height: 90px;
  background: #1e90ff;
  display: block;
}
/* PARTE QUE NOS IMPORTA: */

@keyframes colores {
  0% { background: #1e90ff; }
  25% { background: #27ae60; }
  50% { background: #f1c40f; }
  75% { background: #e74c3c; }
  100% { background: #1e90ff; }
}
.cuadrado {
  animation: colores 4s linear infinite;
}
