/* TODO: Define el tamaño de fuente raíz si lo necesitas (html { ... }) */
/* TODO: Aplica un ancho máximo al .wrapper usando unidades relativas si procede */

html { font-size: 30px; color: green;}
.wrapper{
  font-size: 5px;
}
.bloque { margin-block: 1.5rem; padding: 1rem; border: 1px solid #ddd; }

/* Bloque A: usa px para font-size, margin, padding, etc. */
.bloque--px {
  /* TODO */

  font-size: 20px; /*Esta linea hace que todo lo que este dentro del contenedor de 
  bloque--px adopte el tamaño que se le indica, sin tener en cuenta el tamaño establecido para
  el resto de la pagina.*/
}

/* Bloque B: define font-size en el contenedor y usa em dentro */
.bloque--em {
  /* TODO */
  font-size: 2em; /*Esta linea hace que adopte el doble del tamaño del contenedor padre,
  en este caso, el contenedor wrapper.*/
}

/* Bloque C: usa rem en títulos y párrafos */
.bloque--rem {
  /* TODO */
  font-size: 1.5rem; /*Esta linea hace que adopte un 50% mas del tamaño que tiene la 
  pagina por defecto, establecido en el html*/
}

/* TODO: Estiliza h1, h2, p con unidades acordes al bloque */