.site-header,
.site-footer {
  padding: 1rem;
  background: #f6f6f6;
}

.site-main {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  max-width: 80%;
  margin: 0 auto;
}

.col {
  padding: 1rem;
  border: 1px solid #eee;
}

.col--a {
  width: 30%;
}

.col--b {
  width: 70%;
}

@media (max-width: 800px) {
  .site-main {
    flex-direction: column;
  }

  .col--a,
  .col--b {
    width: 100%;
  }
}